.file-upload-container {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
     /* Vertically centers the items */
    /* justify-content: flex-start; */
    align-items: center;
    gap:16px;
  }
  
  .file-upload-input {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d1d5db;
    background-color: #f3f4f6;
  }
  
  .file-upload-input:hover {
    background-color: #e5e7eb;
  }
  
 
  
  .file-upload-container h2 {
    margin: 0; /* Removes default margin */
    font-size: 18px;
    font-weight: 600;
    width: 200px;
  }
  